:root {
  --blue: #78ACAF;
  --green-light: #96B475;
  --green-dark: #112C00;
  --purple: #D097FF;
  --red: #C60000;
  --red-light: #FF3F3F;
  --orange-light: #FEB027;
  --yellow: #DCDE95;
  --slate-light: #A8A8BB;
  --watermelon: #EB603C;

  --starvation-background: #111800;

  --intro-gradient: linear-gradient(to bottom, rgba(133, 0, 255, 0.2), rgba(133, 0, 255, 0.01));
  --civilian-harm-gradient: linear-gradient(to bottom, rgba(235, 96, 60, 0.2), rgba(235, 96, 60, 0.01));
  --starvation-gradient: linear-gradient(to bottom, rgba(124, 199, 79, 0.2), rgba(124, 199, 79, 0.01));
  --infrastructure-gradient: linear-gradient(to bottom, rgba(82, 203, 255, 0.2), rgba(82, 203, 255, 0.01));
  --displacement-gradient: linear-gradient(to bottom, rgba(255, 194, 82, 0.2), rgba(255, 194, 82, 0.01));
  --end-gradient: linear-gradient(to bottom, rgba(168, 168, 187, 0.2), rgba(168, 168, 187, 0.01));

  --font-sans: "Libre Franklin", "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Lora", "ui-serif", "Georgia", "Cambria", "Times New Roman", "Times", "serif";

  @custom-media --phones-landscape (orientation: landscape);
  @custom-media --tablets (orientation: portrait) and (min-width: 720px);
  @custom-media --tablets-landscape (orientation: landscape) and (min-width: 1024px);
  @custom-media --laptops-sm (min-width: 1280px);
  @custom-media --laptops (min-width: 1500px);
  @custom-media --laptops-lg (min-width: 1920px);
  @custom-media --laptops-xl (min-width: 2300px);
}