:root {
  --green-light: #7CC74F;
  --green-lighter: #9FFF65;
  --green-dark: #112C00;
  --purple: #D097FF;
  --red: #C60000;
  --yellow: #FFE945;

  --font-sans: "Libre Franklin", "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Lora", "ui-serif", "Georgia", "Cambria", "Times New Roman", "Times", "serif";

  @custom-media --phones-landscape (orientation: landscape);
  @custom-media --tablets (orientation: portrait) and (min-width: 720px);
  @custom-media --tablets-landscape (orientation: landscape) and (min-width: 1024px);
  @custom-media --laptops-sm (min-width: 1280px);
  @custom-media --laptops (min-width: 1500px);
  @custom-media --laptops-lg (min-width: 1920px);
  @custom-media --laptops-xl (min-width: 2300px);
}