---
import Fonts from '../components/Fonts.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<Fonts />
	</head>
	<body>
		<slot />
		<svg xmlns="http://www.w3.org/2000/svg">
			<defs>
				<image id="svg-buildings" href="/buildings.png" />
				<image id="city-bg-1" href="/city-bg-1.png" />
				<image id="city-bg-2" href="/city-bg-2.png" />
				<image id="city-bg-3" href="/city-bg-3.png" />
				<image id="city-bg-4" href="/city-bg-4.png" />
				<image id="city-bg-5" href="/city-bg-5.png" />
				<image id="city-bg.png" href="/city-bg.png" />
				<image id="city-fg-10" href="/city-fg-10.png" />
				<image id="city-fg-11" href="/city-fg-11.png" />
				<image id="city-fg-12" href="/city-fg-12.png" />
				<image id="city-fg-13" href="/city-fg-13.png" />
				<image id="city-fg-14" href="/city-fg-14.png" />
				<image id="city-fg-15" href="/city-fg-15.png" />
				<image id="city-fg-16" href="/city-fg-16.png" />
				<image id="city-fg-17" href="/city-fg-17.png" />
				<image id="city-fg-18" href="/city-fg-18.png" />
				<image id="city-fg-19" href="/city-fg-19.png" />
				<image id="city-fg-1" href="/city-fg-1.png" />
				<image id="city-fg-20" href="/city-fg-20.png" />
				<image id="city-fg-21" href="/city-fg-21.png" />
				<image id="city-fg-22" href="/city-fg-22.png" />
				<image id="city-fg-23" href="/city-fg-23.png" />
				<image id="city-fg-24" href="/city-fg-24.png" />
				<image id="city-fg-25" href="/city-fg-25.png" />
				<image id="city-fg-26" href="/city-fg-26.png" />
				<image id="city-fg-27" href="/city-fg-27.png" />
				<image id="city-fg-29" href="/city-fg-29.png" />
				<image id="city-fg-2" href="/city-fg-2.png" />
				<image id="city-fg-3" href="/city-fg-3.png" />
				<image id="city-fg-4" href="/city-fg-4.png" />
				<image id="city-fg-5" href="/city-fg-5.png" />
				<image id="city-fg-6" href="/city-fg-6.png" />
				<image id="city-fg-7" href="/city-fg-7.png" />
				<image id="city-fg-8" href="/city-fg-8.png" />
				<image id="city-fg-9" href="/city-fg-9.png" />
				<image id="city-md-1" href="/city-md-1.png" />
				<image id="city-md-2" href="/city-md-2.png" />
				<image id="city-md-3" href="/city-md-3.png" />
				<image id="city-md-4" href="/city-md-4.png" />
				<image id="starvation-flour-massacre-civilians" href="/starvation-flour-massacre-civilians.png" />
				<image id="starvation-flour-massacre-soldier" href="/starvation-flour-massacre-soldier.png" />
				<image id="starvation-food-stocks" href="/starvation-food-stocks.png" />
				<image id="starvation-medics" href="/starvation-medics.png" />
				<image id="starvation-wck-massacre" href="/starvation-wck-massacre.png" />
			</defs>
		</svg>
	</body>
</html>

<style is:global>
	body {
		height: 48000px;
	}
</style>