---
import Fonts from '../components/Fonts.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<Fonts />
	</head>
	<body>
		<slot />
		<svg xmlns="http://www.w3.org/2000/svg">
			<defs>
				<image id="city-fg-1" href="/city-fg-1.png" />
				<image id="city-fg-2" href="/city-fg-2.png" />
				<image id="city-fg-3" href="/city-fg-3.png" />
				<image id="city-fg-4" href="/city-fg-4.png" />
				<image id="city-fg-5" href="/city-fg-5.png" />
				<image id="city-fg-6" href="/city-fg-6.png" />
				<image id="city-fg-7" href="/city-fg-7.png" />
				<image id="city-fg-8" href="/city-fg-8.png" />
				<image id="city-fg-9" href="/city-fg-9.png" />
				<image id="city-fg-10" href="/city-fg-10.png" />
				<image id="city-fg-11" href="/city-fg-11.png" />
				<image id="city-fg-12" href="/city-fg-12.png" />
				<image id="city-fg-13" href="/city-fg-13.png" />
				<image id="city-fg-14" href="/city-fg-14.png" />
				<image id="city-fg-15" href="/city-fg-15.png" />
				<image id="city-fg-16" href="/city-fg-16.png" />
				<image id="city-fg-17" href="/city-fg-17.png" />
				<image id="city-fg-18" href="/city-fg-18.png" />
				<image id="city-fg-19" href="/city-fg-19.png" />
				<image id="city-fg-20" href="/city-fg-20.png" />
				<image id="city-fg-21" href="/city-fg-21.png" />
				<image id="city-fg-22" href="/city-fg-22.png" />
				<image id="city-fg-23" href="/city-fg-23.png" />
				<image id="city-fg-24" href="/city-fg-24.png" />
				<image id="city-fg-25" href="/city-fg-25.png" />
				<image id="city-fg-26" href="/city-fg-26.png" />
				<image id="city-fg-27" href="/city-fg-27.png" />
				<image id="city-fg-29" href="/city-fg-29.png" />
				<image id="city-fg-30" href="/city-fg-30.png" />
				<image id="city-fg-31" href="/city-fg-31.png" />
				<image id="city-fg-32" href="/city-fg-32.png" />
				<image id="city-fg-33" href="/city-fg-33.png" />
				<image id="city-fg-34" href="/city-fg-34.png" />
				<image id="city-fg-35" href="/city-fg-35.png" />
				<image id="city-fg-36" href="/city-fg-36.png" />
				<image id="city-fg-37" href="/city-fg-37.png" />
				<image id="city-fg-38" href="/city-fg-38.png" />
				<image id="city-md-1" href="/city-md-1.png" />
				<image id="city-md-2" href="/city-md-2.png" />
				<image id="city-md-3" href="/city-md-3.png" />
				<image id="city-md-4" href="/city-md-4.png" />
				<image id="city-bg-1" href="/city-bg-1.png" />
				<image id="city-bg-2" href="/city-bg-2.png" />
				<image id="city-bg-3" href="/city-bg-3.png" />
				<image id="city-bg-4" href="/city-bg-4.png" />
				<image id="city-bg-5" href="/city-bg-5.png" />
				<image id="city-bg-6" href="/city-bg-6.png" />
				<image id="city-bg-7" href="/city-bg-7.png" />
				<image id="city-bg-8" href="/city-bg-8.png" />
				<image id="city-bg-9" href="/city-bg-9.png" />
				<image id="city-bg-10" href="/city-bg-10.png" />
				<image id="civharm-cemetery" href="/civharm-cemetery.png" />
				<image id="civharm-family-remains" href="/civharm-family-remains.png" />
				<image id="civharm-frame-1" href="/civharm-frame-1.png" />
				<image id="civharm-frame-2" href="/civharm-frame-2.png" />
				<image id="civharm-frame-3" href="/civharm-frame-3.png" />
				<image id="civharm-orphans" href="/civharm-orphans.png" />
				<image id="civharm-rubbish" href="/civharm-rubbish.png" />
				<image id="civharm-tree" href="/civharm-tree.png" />
				<image id="starvation-flour-massacre-civilians" href="/starvation-flour-massacre-civilians.png" />
				<image id="starvation-flour-massacre-soldier" href="/starvation-flour-massacre-soldier.png" />
				<image id="starvation-food-stocks" href="/starvation-food-stocks.png" />
				<image id="starvation-medics" href="/starvation-medics.png" />
				<image id="starvation-wck-massacre" href="/starvation-wck-massacre.png" />
				<image id="infrastructure-housing" href="/infrastructure-housing.png" />
				<image id="infrastructure-rubble" href="/infrastructure-rubble.png" />
				<image id="infrastructure-sector-rubble" href="/infrastructure-sector-rubble.png" />
				<image id="infrastructure-shifa-1" href="/infrastructure-shifa-1.png" />
				<image id="infrastructure-shifa-2" href="/infrastructure-shifa-2.png" />
				<image id="infrastructure-shifa-3" href="/infrastructure-shifa-3.png" />
				<image id="infrastructure-shifa-graves" href="/infrastructure-shifa-graves.png" />
				<image id="infrastructure-shifa-tank" href="/infrastructure-shifa-tank.png" />
				<image id="infrastructure-telecoms" href="/infrastructure-telecoms.png" />
			</defs>
		</svg>
	</body>
</html>

<style is:global>
	body {
		height: 48000px;
	}
</style>